@import 'breakpoiont.css';
@import 'content.css';
@import 'fluid.css';
@import 'relative.css';
@import 'header.css';
:where(:root) {
  --size-negative-0: -0.5rem;
  --size-negative-1: -0.25rem;
  --size-0: .25rem;
  --size-1: .5rem;
  --size-2: .625rem;
  --size-3: .75rem;
  --size-4: .875rem;
  --size-5: 1rem;
  --size-6: 1.125rem;
  --size-7: 1.25rem;
  --size-8: 1.5rem;
  --size-9: 1.75rem;
  --size-10: 2rem;
  --size-11: 2.5rem;
  --size-12: 3rem;
  --size-13: 3.5rem;
  --size-14: 4rem;
  --size-15: 4.5rem;
  --size-16: 5rem;
  --size-17: 5.5rem;
  --size-18: 6rem;
  --size-19: 6.5rem;
  --size-20: 7rem;
  --size-21: 7.5rem;
  --size-22: 10rem;
  --size-23: 15rem;
  --size-24: 20rem;
  --size-25: 25rem;
  --size-26: 30rem;
}