:where(:root) {
  --blue-0: 96.27% 0.02 238.66;
	--blue-1: 92.66% 0.039 240.01;
	--blue-2: 86.02% 0.07593952752827733 241.6648707824914;
	--blue-3: 78.2% 0.115 243.83;
	--blue-4: 71.8% 0.142 246.06;
	--blue-5: 66.89% 0.157 248.32;
	--blue-6: 62.59% 0.164 250.29;
	--blue-7: 58.56% 0.159 251.26;
	--blue-8: 54.26% 0.149 251.67;
	--blue-9: 49.72% 0.133 251.59;
	--blue-10: 44.32% 0.117 251.19;
	--blue-11: 38.85% 0.1 251.3;
	--blue-12: 33.09% 0.082 250.66;
}