:where(:root) {
  --brand-facebook-color: 56.41% 0.2402 261.15;
  --brand-whatsapp-color: 76.1% 0.2015 149.74;
  --brand-instagram-yellow-color: 88.07% 0.1578 95.25;
  --brand-instagram-red-color: 61.86% 0.2161 10.97;
  --brand-instagram-magneta-color: 61.25% 0.2453 333.82;
  --brand-instagram-blue-color: 49.96% 0.2757 284.36;
  --brand-youtube-color: 62.8% 0.2577 29.23;
  --brand-google-blue-color: 63.04% 0.18 259.96;
  --brand-google-red-color: 60.19% 0.1898 28.87;
  --brand-google-yellow-color: 80.77% 0.166182 82.7023;
  --brand-google-green-color: 61.22% 0.1507 154.1;
  --brand-microsoft-red-color: 65.06% 0.2059 35.64;
  --brand-microsoft-green-color: 72.07% 0.1907 128.86;
  --brand-microsoft-blue-color: 68.47% 0.1559 239.6418;
  --brand-microsoft-yellow-color: 82.9% 0.1712 81.04;
  --brand-pinterest-color: 58.24% 0.2364 25.54;
  --brand-spotify-color: 76.97% 0.2124 148.67;
  --brand-discord-color: 57.74% 0.2091 273.85;
  --brand-reddit-color: 66.02% 0.229356 35.4025;
  --brand-snapchat-color: 96.18% 0.208471 108.8769;
  --brand-amazon-color: 30.11% 0.0319 254.3;
  --brand-twitch-color: 59.08% 0.25458 296.0935;
  --brand-twitter-color: 67.88% 0.1496 250.55;
  --brand-bluesky-color: 0.63 0.2026 255.39;
}