:where(:root) {
  --camo-0: 98.12% 0.026 111.51;
	--camo-1: 92.39% 0.103 111.24;
	--camo-2: 86.74% 0.165 114.24;
	--camo-3: 81.59% 0.168 114.07;
	--camo-4: 76.31% 0.155 112.05;
	--camo-5: 70.85% 0.143 110.01;
	--camo-6: 65.53% 0.131 107.99;
	--camo-7: 60.44% 0.119 105.44;
	--camo-8: 55.15% 0.108 102.9;
	--camo-9: 49.69% 0.096 102.59;
	--camo-10: 44.17% 0.084 101.29;
	--camo-11: 38.98% 0.073 101.94;
	--camo-12: 30.7% 0.055 100.15;
}