:where(:root) {
  --choco-0: 97.73% 0.037 95.44;
	--choco-1: 92.27% 0.057 75.63;
	--choco-2: 86.77% 0.077 65.88;
	--choco-3: 81.1% 0.098 59.23;
	--choco-4: 75.55% 0.119 55.97;
	--choco-5: 70.12% 0.136 53.79;
	--choco-6: 64.55% 0.152 51.17;
	--choco-7: 58.83% 0.142 50.73;
	--choco-8: 52.87% 0.128 50.11;
	--choco-9: 46.93% 0.111 51.22;
	--choco-10: 41.02% 0.091 52.35;
	--choco-11: 35.07% 0.072 53.66;
	--choco-12: 28.05% 0.053 54.07;
}