:where(:root) {
  --cyan-0: 96.89% 0.024 203.08;
	--cyan-1: 94.05% 0.05 202.5;
	--cyan-2: 88.56% 0.079 204.84;
	--cyan-3: 82.43% 0.106 206.82;
	--cyan-4: 77% 0.119 207.56;
	--cyan-5: 72% 0.119 211.22;
	--cyan-6: 67.77% 0.114 210.62;
	--cyan-7: 62.49% 0.106 212.19;
	--cyan-8: 56.75% 0.097 213.4;
	--cyan-9: 50.9% 0.087 215.07;
	--cyan-10: 43.77% 0.074 214.34;
	--cyan-11: 36.38% 0.061 214.76;
	--cyan-12: 28.54% 0.046 213.38;
}