:where(:root) {
  --gray-0: 98.16% 0.002 247.84;
	--gray-1: 96.32% 0.003 247.86;
	--gray-2: 94.17% 0.005 247.88;
	--gray-3: 91.09% 0.007 247.9;
	--gray-4: 86.71% 0.011 247.95;
	--gray-5: 76.92% 0.015 248.02;
	--gray-6: 64.28% 0.015 248.06;
	--gray-7: 42.76% 0.015 248.17;
	--gray-8: 34.51% 0.013 248.21;
	--gray-9: 26.21% 0.009 248.19;
	--gray-10: 21.2% 0.009 255.61;
	--gray-11: 16.76% 0.007 258.37;
	--gray-12: 11.24% 0.009 242.17;
}