:where(:root) {
  --green-0: 97.27% 0.024 151.19;
	--green-1: 94.63% 0.059 148.83;
	--green-2: 90.38% 0.099 148.43;
	--green-3: 85.62% 0.141 147.8;
	--green-4: 80.2% 0.168 147.32;
	--green-5: 76.02% 0.183 146.61;
	--green-6: 71.46% 0.183 146.44;
	--green-7: 67.41% 0.177 146.24;
	--green-8: 61.72% 0.162 146.43;
	--green-9: 56.04% 0.143 146.89;
	--green-10: 48.3% 0.121 146.9;
	--green-11: 40.55% 0.099 147.2;
	--green-12: 32.09% 0.075 147.29;
}