:where(:root) {
  --indigo-0: 96.12% 0.018 269.09;
	--indigo-1: 92.04% 0.038 270.98;
	--indigo-2: 84.11% 0.07866879554114047 273.4979346510878;
	--indigo-3: 74.73% 0.12961380724033716 272.26608446912127;
	--indigo-4: 67.99% 0.163 271.04;
	--indigo-5: 62.8% 0.191 269.5;
	--indigo-6: 58.96% 0.205 268.62;
	--indigo-7: 55.66% 0.208 268.35;
	--indigo-8: 52.56% 0.199 268.04;
	--indigo-9: 48.41% 0.188 269.07;
	--indigo-10: 43.76% 0.169 269.4;
	--indigo-11: 39.27% 0.149 269.56;
	--indigo-12: 34.55% 0.127 269.77;
}