:where(:root) {
  --jungle-0: 96.56% 0.101 118.9;
	--jungle-1: 92.86% 0.115 119.51;
	--jungle-2: 89.15% 0.128 120.12;
	--jungle-3: 85.43% 0.141 120.76;
	--jungle-4: 81.6% 0.148 120.94;
	--jungle-5: 77.98% 0.155 121.51;
	--jungle-6: 74.35% 0.159 122.22;
	--jungle-7: 70.8% 0.162 122.7;
	--jungle-8: 67.3% 0.16 123.03;
	--jungle-9: 63.63% 0.154 122.96;
	--jungle-10: 55.84% 0.135 123.25;
	--jungle-11: 47.59% 0.114 122.73;
	--jungle-12: 39.24% 0.093 122.48;
}