:where(:root) {
  --lime-0: 97.85% 0.034 121.48;
	--lime-1: 96% 0.068 122.93;
	--lime-2: 92.99% 0.111 124.18;
	--lime-3: 88.48% 0.154 125.92;
	--lime-4: 84.74% 0.188 127.98;
	--lime-5: 80.71% 0.202 129.8;
	--lime-6: 76% 0.2 131.08;
	--lime-7: 70.99% 0.19 131.53;
	--lime-8: 66.16% 0.18 132.25;
	--lime-9: 60.43% 0.162 131.55;
	--lime-10: 52.61% 0.14 131.31;
	--lime-11: 44.76% 0.118 131.23;
	--lime-12: 36.26% 0.093 130.65;
}