:where(:root) {
  --pink-0: 96.86% 0.01792402859226809 351.141483413555;
	--pink-1: 93.15% 0.04 352.16;
	--pink-2: 87.18% 0.071 355.09;
	--pink-3: 80.8% 0.11 357.15;
	--pink-4: 74.96% 0.147 358.8;
	--pink-5: 69.24% 0.177 1.25;
	--pink-6: 63.96% 0.197 3.19;
	--pink-7: 58.81% 0.201 5.25;
	--pink-8: 53.89% 0.193 6.48;
	--pink-9: 47.97% 0.172 6.83;
	--pink-10: 42.48% 0.151 6.38;
	--pink-11: 37.11% 0.129 5.58;
	--pink-12: 31.24% 0.106 4.62;
}