:where(:root) {
  --purple-0: 96.48% 0.018 314.74;
	--purple-1: 91.65% 0.052 319.03;
	--purple-2: 86.3% 0.096 319.46;
	--purple-3: 79.04% 0.152 319.77;
	--purple-4: 72.52% 0.196 319.53;
	--purple-5: 66.95% 0.219 319.07;
	--purple-6: 62.39% 0.225 318.91;
	--purple-7: 57.83% 0.219 319.15;
	--purple-8: 53.33% 0.203 319;
	--purple-9: 47.83% 0.181 318.86;
	--purple-10: 42.1% 0.157 319.11;
	--purple-11: 36.25% 0.133 318.93;
	--purple-12: 30.21% 0.106 319.2;
}