:where(:root) {
  --red-0: 97.79% 0.010749906051195026 17.34037927927983;
	--red-1: 93.87% 0.030868399831746662 17.714795342008184;
	--red-2: 88.34% 0.06163334626139353 18.38651313022084;
	--red-3: 81.69% 0.103 19.53;
	--red-4: 75.63% 0.14600146252800328 21.104967448640114;
	--red-5: 71.16% 0.181 22.84;
	--red-6: 67.06% 0.204 24.52;
	--red-7: 63.24% 0.214 25.84;
	--red-8: 59.28% 0.211 26.53;
	--red-9: 54.57% 0.195 26.61;
	--red-10: 49.57% 0.175 26.46;
	--red-11: 44.25% 0.154 26.22;
	--red-12: 38.87% 0.134 26.07;
}