:where(:root) {
  --sand-0: 98.39% 0.003 228.78;
	--sand-1: 91.82% 0.011 95.17;
	--sand-2: 85.44% 0.025 91.64;
	--sand-3: 78.65% 0.036 90.55;
	--sand-4: 72.28% 0.036 90.56;
	--sand-5: 65.76% 0.037 90.58;
	--sand-6: 58.89% 0.036 87.29;
	--sand-7: 52.62% 0.036 89.19;
	--sand-8: 45.94% 0.028 85.75;
	--sand-9: 39.51% 0.022 89.49;
	--sand-10: 32.94% 0.014 89.88;
	--sand-11: 26.3% 0.007 106.89;
	--sand-12: 18.14% 0.004 106.79;
}