:where(:root) {
  --stone-0: 98.39% 0.003 228.78;
	--stone-1: 96.62% 0.003 247.86;
	--stone-2: 94.51% 0.003 247.86;
	--stone-3: 91.61% 0.005 214.33;
	--stone-4: 87.28% 0.006 223.46;
	--stone-5: 77.32% 0.007 233.67;
	--stone-6: 68.68% 0.005 228.86;
	--stone-7: 60.32% 0.005 197.03;
	--stone-8: 51.78% 0.004 174.36;
	--stone-9: 43.33% 0.003 128.55;
	--stone-10: 34.74% 0.005 106.66;
	--stone-11: 26.3% 0.007 106.89;
	--stone-12: 18.14% 0.004 106.79;
}