:where(:root) {
  --teal-0: 97.31% 0.025 174.76;
	--teal-1: 94.25% 0.061 172.92;
	--teal-2: 89.59% 0.096 173.35;
	--teal-3: 84.08% 0.13 170.11;
	--teal-4: 79.26% 0.147 167.92;
	--teal-5: 74.41% 0.148 166.36;
	--teal-6: 69.46% 0.143 164.88;
	--teal-7: 64.32% 0.134 164.7;
	--teal-8: 58.51% 0.123 164.1;
	--teal-9: 52.92% 0.11 164.67;
	--teal-10: 45.3% 0.093 165.07;
	--teal-11: 37.36% 0.076 165.63;
	--teal-12: 28.63% 0.056 167.96;
}