:where(:root) {
  --violet-0: 96.18% 0.02 295.19;
	--violet-1: 91.05% 0.04971566046480921 298.110146818624;
	--violet-2: 84.05% 0.08986853526888154 296.6040749632581;
	--violet-3: 73.98% 0.144 294.45;
	--violet-4: 65.77% 0.191 292.12;
	--violet-5: 60.29% 0.218 289.69;
	--violet-6: 56.92% 0.229 288.56;
	--violet-7: 54.21% 0.227 287.8;
	--violet-8: 51.2% 0.218 287.54;
	--violet-9: 48.12% 0.198 288.16;
	--violet-10: 43.61% 0.178 287.97;
	--violet-11: 39% 0.156 288.51;
	--violet-12: 34.34% 0.134 288.98;
}