:where(:root) {
  --yellow-0: 97.9% 0.03956210666559445 97.75672342501291;
	--yellow-1: 96.1% 0.06790217651789869 96.58954087169707;
	--yellow-2: 94.02% 0.10486308817656052 96.83472364933995;
	--yellow-3: 90.97% 0.14400790021880616 95.11197187031514;
	--yellow-4: 88.26% 0.1648482291234316 92.22168317139845;
	--yellow-5: 84.71% 0.169 87.12;
	--yellow-6: 80.69% 0.167 78.12;
	--yellow-7: 77.02% 0.16582987571471072 71.02211948777222;
	--yellow-8: 73.11% 0.167 62.62;
	--yellow-9: 68.35% 0.169 54.96;
	--yellow-10: 56.79% 0.1398632416733952 55.455155640235084;
	--yellow-11: 44.79% 0.108 57.16;
	--yellow-12: 38.41% 0.091 58.93;
}